/* Permite pegar el pie de página a la parte inferior de la página */
html {
    position: relative;
    min-height: 100%;
}

/* Elimina el margin y el padding por defecto del navegador y establece el color de fondo y la fuente */
body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    font-family: "Source Sans Pro", sans-serif;
}

/* Divisor punteado */
hr.dotted {
    border-top: 2px dotted #0067bb;
}

/* Divisor redondeado */
hr.rounded {
    border-top: 3px solid #0067bb;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Contenedor principal de la página */
div.main {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
}

/* Contenedor de los controles */
div.controls {
    float: left;
    width: 22%;
    height: 490px;
    text-align: left;
    background-color: #60b6fc;
    padding-left: 20px;
    padding-bottom: 20px;
    border-top: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
    border-color: #0067bb;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .controls:after {
    content: "";
    display: table;
    clear: both;
  }

/* Contenedor de los gráficos 2D */
div.graph2d {
    width: 50%;
}

img.media_graphic {
    border: 3px solid;
    border-color: #0067bb;
    border-radius: 20px;
}

/* Contenedor de los gráficos 3D */
div.graph3d {
    float: right;
    width: 40%;
}

div.graph3d h3 {
    margin-top: 0;
}

/* Contenedor de la fecha */
div.date_container {
    float: right;
    padding-right: 0px;
    width: 40%;
    margin-bottom: 100px; /*CAMBIAR*/
}

div.separator {
    height: 20px;
}

/* Leyenda de colores */
div.color_key_container {
    display: flex;
    justify-content: left;
    padding-left: 175px; /*CAMBIAR*/
}

div.color_key {
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-color: #5c5c5c;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
}

div.bar {
    border-radius: 50%;
}

div.hosp {
    background-color: #FF4545;
}

div.pos {
    background-color: #6C028C;
}

div.vac {
    background-color: #3FC026;
}

div.red {
    background-color: #ffa0a0;
}

div.orange {
    background-color: #fffeaf;
}

div.green {
    background-color: #ceffcb;
}

b.title {
    margin-right: 5px;
}

/* Pie de página */
footer {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #5c5c5c;
    border-top: 5px solid #0067bb;
    color: white;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
}