.navbar{
  background-color: #3050FA;
  font-weight: bold;
}

.texto-navbar{
  color:white;
  text-decoration:none;
  font-size: 35px;
}


.grafico{
  border:3px solid black;
  height: 150vh;
  

}

.selects{
  margin-top:70px;
}


.imagen {
  
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 400px;
}